@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: none;
}

:root {
  --foreground: #504b55;
  --foreground-secondary: #807d83;
  --foreground-bad: #e22f59;
  --background: #e8edec;
  --background-50: rgba(#e8edec, 0.5);
  --background-75: rgba(#e8edec, 0.75);
  --background-secondary: #d4d4d4;
  --foreground-schema: #888;
  --foreground-key: #3c39d5;
  --foreground-string: #b74731;
  --foreground-number: #468f46;
  --foreground-true: #378e51;
  --foreground-false: #6d7670;

  --background-key-0: #e6e9d7;
  --background-key-1: #cee3c9;
  --background-key-2: #c6dddf;
  --background-key-3: #e3d0e7;
  --background-key-4: #d1d7e7;
  --background-textarea: #e3e8e8;

  --ui-hover: #2a86d6;
  --matched-row: #d2e1ee;
  --narrowing-base: #9e62f3;
  --selected-row: #c6f1c8;
  --line-number: royalblue;

  --theme-transition: 0.33s ease-in-out;
  --theme-transition-time: 0.33s;
  --flippable-transition: 0.16s ease-out;
  --flippable-transition-time: 0.096s;
}

:root[data-theme='dark'] {
  --foreground: #eee7f7;
  --foreground-secondary: #66606e;
  --foreground-bad: #ea5477;
  --background: #1d1d1f;
  --background-50: rgba(#1d1d1f, 0.5);
  --background-75: rgba(#1d1d1f, 0.75);
  --background-secondary: #33333a;
  --foreground-schema: #b3b3b3;
  --foreground-key: #3c7aff;
  --foreground-string: #eaa18b;
  --foreground-number: #7cda65;
  --foreground-true: #73ff9d;
  --foreground-false: #b9d6b1;

  --background-key-0: #2a2c34;
  --background-key-1: #373a30;
  --background-key-2: #3b313b;
  --background-key-3: #323b37;
  --background-key-4: #3d3432;
  --background-textarea: #303030;

  --matched-row: #2f463e;
  --narrowing-base: #5822a3;
  --selected-row: #096865;
  --line-number: #858dff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  color: var(--foreground);
  background-color: var(--background-secondary);
  transition: color var(--theme-transition);
  transition: background-color var(--theme-transition);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

line {
  stroke: var(--foreground);

  &.hit-target {
    stroke: transparent;
    fill: transparent;
  }
}

rect,
ellipse {
  stroke: var(--foreground);
}

.ce-button {
  padding: 0.25rem 1rem;

  &:hover {
    color: var(--background);
    background-color: var(--foreground);
  }
}

.node-selection-box {
  stroke: royalblue;
}

.segment-selection-box {
  stroke: royalblue;
}

.reshaper-corner {
  fill: var(--background);
}

.linker {
  fill: royalblue;
  stroke: var(--foreground);

  &:hover {
    fill: var(--foreground);
  }
}

.system-box {
  border-color: lightgreen;
  background-color: var(--background-75);
}

.edit-box {
  border-color: var(--foreground);
  border-width: 1pt;
  background-color: var(--background-secondary);
}

.canvas-palette {
  position: absolute;
  left: 1rem;
  top: 20%;
  border-color: none;
  color: var(--foreground);
  background-color: var(--background);
  border-radius: 0.25rem;
  box-shadow: 0px 0px 8px var(--foreground-secondary);

  .canvas-palette-button {
    border-radius: 0.25rem;

    &:hover {
      background-color: var(--foreground-secondary);
    }
  }
}

.canvas-palette-subpanel {
  color: var(--foreground);
  background-color: var(--background);
  border-radius: 0.25rem;
  box-shadow: 0px 0px 8px var(--foreground-secondary);

  button {
    &:hover {
      color: var(--foreground);
      background-color: var(--background);
    }
  }
}

.shape-palette {
  position: absolute;
  border-color: none;
  color: var(--foreground);
  background-color: var(--background);
  border-radius: 0.25rem;
  box-shadow: 0px 0px 8px var(--foreground-secondary);

  .shape-palette-button {
    border-radius: 0.25rem;

    &:hover {
      background-color: var(--foreground-secondary);
    }
  }
}

.node-palette {
  border-width: 0.25rem;
  border-color: royalblue;
}


.color-picker {
  .color-picker-palette {
    border-width: 0.1rem;
    border-color: transparent;

    &:hover {
      border-color: var(--foreground);
    }
  }
}

textarea,
input[type="text"] {
  color: var(--foreground);
  background-color: rgba(var(--background), 0.75);
  border-width: 1pt;
  border-color: var(--foreground);
  padding: 0.5em;
}

.multiple-buttons {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  row-gap: 0;
  padding: 0;

  border-width: 0.25rem;
  border-color: var(--foreground);
  background-color: var(--foreground);
  /* background-color: var(--background); */
  border-radius: 0.25rem;
  overflow: hidden;

  .multiple-buttons-button {
    z-index: 1;
    padding: 0.15rem 0.40rem;
    height: 2rem;
    color: var(--background);
    /* color: var(--foreground); */

    &:hover {
      color: var(--foreground);
      /* color: var(--background); */
      transition: color var(--flippable-transition);
      transition: background-color var(--flippable-transition);
    }

    &.active {
      color: var(--foreground);
      background-color: var(--background);
      /* color: var(--background);
      background-color: var(--foreground); */
      text-decoration: underline;
    }
  }
}

.transient-backdrop {
  position: absolute;
  z-index: 0;
  height: 100%;
  padding: 0.15rem 0.40rem;
  pointer-events: none;
  background-color: var(--background);
  /* background-color: var(--foreground); */
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */